img.rounded-circle {
	width: 100px; /* sesuaikan dengan ukuran yang Anda inginkan */
	height: 100px; /* sesuaikan dengan ukuran yang Anda inginkan */
	object-fit: cover;
	border-radius: 50%;
}

.nowrap {
	white-space: nowrap;
}

/* CSS untuk tabel responsif */
@media (max-width: 768px) {
	.table-responsive table {
		width: 100%;
		max-width: 100%;
	}
	.table-responsive table th,
	.table-responsive table td {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
